In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./iozone_log_ext4&nilfs2.txt", names = ['title', 'systemType', 'time', 'sector']) 
df = df[df['systemType'] == ' nilfs2']
df.head()

              title systemType              time  sector
4   [ 3486.913442]      nilfs2  1572369744996046    7832
9   [ 3486.913460]      nilfs2  1572369744998549    8048
11  [ 3486.913462]      nilfs2  1572369744999951    8264
13  [ 3486.913464]      nilfs2  1572369745001689    8360
18  [ 3486.913470]      nilfs2  1572369745003956    8576

In [86]:
df.to_csv("iozone_log_edited_nilfs2.txt", mode='w', header=False)